{#- v5.0.0 lane C: what a page needs to mount the Compare view
    (GCCompare.mount) and its Export report sheet. Include it in the page's
    scripts block: {% include "_compare_assets.html" %}. _layout.html already
    loads report_payload.js, report_queue.js and report_queue.css. -#}
<link rel="stylesheet" href="{{ url_for('static', filename='css/compare.css') }}?v=4">
<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/ladder.js') }}?v=2"></script>
<script src="{{ url_for('static', filename='js/comments.js') }}?v=4"></script>
<script src="{{ url_for('static', filename='js/compare_logic.js') }}?v=3"></script>
<script src="{{ url_for('static', filename='js/compare_view.js') }}?v=4"></script>
